body {
  font-family: "Roboto";
  background-color: rgb(194, 181, 205);
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: rgb(90, 45, 129);
}

img {
  width: 275px;
  height: 150px;
  display: inline-block;
  margin-bottom: 40px;
}

main {
  width: 800px;
  margin: auto;
  padding: 30px 20px 30px 20px;
  border-radius: 8px;
  text-align: left;
  background-color: rgb(90, 45, 129);
  color: white;
}

li {
  list-style: none;
}

.highlighted {
  color: rgb(199, 191, 110);
  border-left: 3px solid rgb(199, 191, 110);
}
